/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 15, 2015, 1:45:03 PM
    Author     : tor-martin
*/

#gameWorld, #gameSplash{
    border: 1px solid #000000;
    background-image: url(img/background.png);
}

#gameWorld{
    display: none;
}
#gameSplash{
    text-align: center;
    font-size: 1.8em;
}
#gameSplash a{
    color: black;
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 30%;
    vertical-align: middle;
    box-sizing: border-box;
}

